/* App.css */
#app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-and-heading {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;   
  margin-right: 10px;
}

.small-logo {
  width: 80px;
}

.app-heading {
  font-size: 2em; /* Adjust as needed */
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Updated to space-between */
  align-items: flex-start;
  width: 100%;
}

/* Add or adjust other styles as needed */
